body {
	background-color: rgb(190, 190, 190);
}

#header {
	background-color: rgb(67, 177, 162);
	height: 60px;
}

.nav {
	background-color: white;
}

#name {
	color: white;
}

.nav-item {
	color: black;
}

h2 {
	color: rgb(67, 177, 162);
}
