@font-face {
	src: url(Assets/fonts/Apercu/Apercu\Bold.otf);
	font-family: apercu;
}

body {
	font-family: apercu;
	color: black;
}

#header {
	margin: 30px;
	height: 70px;
	position: sticky;
	top: 0;
}

.nav-item {
	color: black;
}

.myContainer {
	margin: 30px;
	background-color: white;
}
