<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Tevin Ward</title>
</head>

<body>

    {{{body}}}


    <footer>

        <div>

            <img id="play" src="images/mute.png" alt="sound" height="25" width="25">
            <img id="pause" src="images/sound.png" alt="sound" height="25" width="25">
            <audio id="music" src="music/vivaldi.mp3" type="audio/mp3"></audio>

        </div>

    </footer>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--Script Link-->
    <script src="js/script.js"></script>

</body>

</html>