<body class="linkedpages-bck">

    <!--Navigation Bar-->
    <ul id="navbar" class="nav justify-content-end">
        <div class="navbar-brand">
            <h1 id="greeting-display">Hello</h1>
        </div>
        <li class="nav-item">
            <a href="/">
                <img src="images/left-arrow.png" alt="Back" width="30" height="30">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="current-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Selected Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>

    <!--Main Content-->
    <div class="row myContainer">

        <div class="col-12">
            <p class="linked-pages-text">Web Developer based out of Goldsboro, North Carolina</p>
        </div>

    </div>