<body class="linkedpages-bck">

    <!--Navigation Bar-->
    <ul id="navbar" class="nav justify-content-end">
        <li class="nav-item">
            <a href="/">
                <img src="images/left-arrow.png" alt="Back" width="30" height="30">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Selected Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="current-link" href="/contact">Contact</a>
        </li>
    </ul>

    <!--Main Content-->
    <div class="myContainer">

        <p class="linked-pages-text">tevinward7@gmail.com</p>

    </div>