<!--Navigation Bar-->
<ul id="navbar" class="nav justify-content-end">

    <div class="navbar-brand">
        <h1 id="greeting-display">Hello</h1>
    </div>

    <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/portfolio">Selected Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>

</ul>

<!--Main Content-->
<div class="myContainer">

    <div class="row text-center">
        <div class="col-12">
            <h3>Tevin Ward</h3>
        </div>
    </div>

    {{!-- <div class="row">

    </div> --}}

</div>