<body class="linkedpages-bck">

    <!--Navigation Bar-->
    <ul id="navbar" class="nav justify-content-end">
        <li class="nav-item">
            <a href="/">
                <img src="images/left-arrow.png" alt="Back" width="30" height="30">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="current-link" href="/portfolio">Selected Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>

    <!--Main Content-->
    <div class="linksContainer">

        <div class="row">
            <div class="col-12">
                <a href="https://tevinward7.github.io/portfolio/">
                    <img src="images/portfolio.png" alt="Portfolio Site" width="300" height="300">
                </a>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <a href="https://tevinward7.github.io/QuoteConvertor/">
                    <img src="images/fancy-text.png" alt="Fancy Text Translator" width="300" height="300">
                </a>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <a href="https://tevinward7.github.io/Weather_Dashboard/">
                    <img src="images/weather.png" alt="Weather Dashboard" width="300" height="300">
                </a>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>