<body class="linkedpages-bck">

    <!--Navigation Bar-->
    <ul id="navbar" class="nav justify-content-end">
        <li class="nav-item">
            <a href="/">
                <img src="images/left-arrow.png" alt="Back" width="30" height="30">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="current-link" href="/portfolio">Selected Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>

    <!--Main Content-->
    <div class="linksContainer">

        <div class="row">
            <div class="col-12">
                <div class="container" id="app-1">
                    <img src="images/portfolio.png" alt="Portfolio Site" width="300" height="300" class="folio-image"
                        id="folio-image-1">
                    </a>
                    <div class="text" id="text-1"><a href="https://github.com/TevinWard7/portfolio.git"
                            class="inside-text">GitHub</a><span class="inside-text"> | </span><a href="/"
                            class="inside-text">Live
                            Site</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <div class="container" id="app-2">
                    <img src="/images/burger.png" alt="Portfolio Site" width="300" height="300" class="folio-image"
                        id="folio-image-2">
                    </a>
                    <div class="text" id="text-2"><a href="https://github.com/TevinWard7/Eat-Da-Burger.git"
                            class="inside-text">GitHub</a><span class="inside-text"> | </span><a
                            href="https://eat-da-burger-app-7.herokuapp.com/" class="inside-text">Live
                            Site</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <div class="container" id="app-3">
                    <img src="images/weather.png" alt="Portfolio Site" width="300" height="300" class="folio-image"
                        id="folio-image-3">
                    </a>
                    <div class="text" id="text-3"><a href="https://github.com/TevinWard7/Weather_Dashboard.git"
                            class="inside-text">GitHub</a><span class="inside-text"> | </span><a
                            href="https://tevinward7.github.io/Weather_Dashboard/" class="inside-text">Live
                            Site</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <div class="container" id="app-4">
                    <img src="images/fancy-text.png" alt="Portfolio Site" width="300" height="300" class="folio-image"
                        id="folio-image-4">
                    </a>
                    <div class="text" id="text-4"><a href="https://github.com/TevinWard7/QuoteConvertor.git"
                            class="inside-text">GitHub</a><span class="inside-text"> | </span><a
                            href="https://tevinward7.github.io/QuoteConvertor/" class="inside-text">Live
                            Site</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>